[submodule "MSDynamicsDrawerViewController"]
	path = MSDynamicsDrawerViewController
	url = https://github.com/monospacecollective/MSDynamicsDrawerViewController.git
[submodule "WYPopoverController"]
	path = WYPopoverController
	url = https://github.com/nicolaschengdev/WYPopoverController.git
[submodule "CHDropboxSync"]
	path = CHDropboxSync
	url = git@github.com:phedlund/CHDropboxSync.git
[submodule "KissXML"]
	path = KissXML
	url = git://github.com/robbiehanson/KissXML.git
[submodule "Reachability"]
	path = Reachability
	url = git://github.com/tonymillion/Reachability.git
[submodule "MDSpreadView"]
	path = MDSpreadView
	url = git@github.com:phedlund/MDSpreadView.git
