[submodule "KissXML"]
	path = KissXML
	url = git://github.com/robbiehanson/KissXML.git
[submodule "Reachability"]
	path = Reachability
	url = git://github.com/tonymillion/Reachability.git
[submodule "MDSpreadView"]
	path = MDSpreadView
	url = git@github.com:phedlund/MDSpreadView.git
