[submodule "Classes/MDSpreadView"]
	path = Classes/MDSpreadView
	url = git://github.com/mochidev/MDSpreadView.git
[submodule "Classes/JMWhenTapped"]
	path = Classes/JMWhenTapped
	url = git://github.com/jakemarsh/JMWhenTapped.git
[submodule "Classes/CHDropboxSync"]
	path = Classes/CHDropboxSync
	url = git://github.com/chrishulbert/CHDropboxSync.git
[submodule "Classes/ConciseKit"]
	path = Classes/ConciseKit
	url = git://github.com/petejkim/ConciseKit.git
[submodule "Classes/KissXML"]
	path = Classes/KissXML
	url = git://github.com/robbiehanson/KissXML.git
[submodule "Classes/Reachability"]
	path = Classes/Reachability
	url = git://github.com/tonymillion/Reachability.git
[submodule "MSDynamicsDrawerViewController"]
	path = MSDynamicsDrawerViewController
	url = https://github.com/monospacecollective/MSDynamicsDrawerViewController.git
[submodule "WYPopoverController"]
	path = WYPopoverController
	url = https://github.com/nicolaschengdev/WYPopoverController.git
